.dashboard-content {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
}

.user-info,
.dashboard-actions {
  flex: 1; /* Equal width for both sections */
  min-width: 300px; /* Set a minimum width for better layout */
  display: flex;
  flex-direction: column; /* Align components vertically */
  align-items: flex-start; /* Align components to the left */
  margin-right: 20px; /* Add some space between sections */
  margin-left: auto; /* Move elements to the right */
}

.dashboard-actions {
  display: flex;
  flex-direction: column; /* Align components vertically */
  align-items: flex-start; /* Align components to the left */
  margin-right: 40px; /* Add some space between sections */
}

.expense-form,
.salary-form {
  margin-bottom: 30px; /* Add margin between forms */
}

.expenses-list {
  flex: 1; /* Allow expenses list to take remaining space */
  min-width: 300px; /* Set a minimum width for better layout */
  margin-left: 20px; /* Add some space between sections */
}

.expense-form input,
.salary-form input {
  width: calc(100% - 24px);
  padding: 16px;
  margin-bottom: 20px;
  border: 2px solid #cccccc;
  border-radius: 8px;
  font-size: 16px;
}

.expense-form button,
.salary-form button {
  background-color: #2196f3;
  color: #ffffff;
  padding: 16px 32px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.expense-form button:hover,
.salary-form button:hover {
  background-color: #1e87dc;
}
.delete-user-button,
.sign-out-button {

  margin-top: 30px;
  padding: 12px 24px;
  margin-left: auto; 
  border-radius: 8px;
  background-color: #f44336;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.delete-user-button:hover,
.sign-out-button:hover {
  background-color: #d32f2f;
}
.expense-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #f5f5f5; /* Background color for the table */
}

.expense-table th,
.expense-table td {
  padding: 8px;
  border: 1px solid #dddddd;
  text-align: left;
}

.expense-table th {
  background-color: #eeeeee;
  font-weight: bold;
}
